.btnHome {
    position: fixed;
    top: 20px;     
    left: 20px;     
    z-index: 1000;   
    padding: 10px 20px;
    background-color: #0ce0e3;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    .Link{
        color: #000000;
    }

}
