.container {
  text-align: center;
  margin-top: 50px;
}

.botao {
  margin: 20px;
}

button {
  padding: 10px 20px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
